.detail {
  padding: 0.2em;
}

.description {
  white-space: pre-wrap;
}

.viewCount {
  color: #606060;
}
@media screen and (max-width: 780px) {
  .detail {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .video {
    margin: auto;
    width: 100vw;
    height: 65vw;
  }
}
