.header {
  width: 80vw;
  position: fixed;
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background: black;
  color: white;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
}

.button {
  background-color: darkgrey;
  outline: 0;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}

@media screen and (max-width: 780px) {
  .header {
    width: 100vw;
    position: fixed;
  }
  .input {
    width: 5rem;
    height: 2.5rem;
  }
  .logo {
    font-size: 0.7rem;
  }
  .button {
    width: 2.5rem;
    height: 2.5rem;
  }
}
